// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$background-color: rgb(8, 216, 147);
 
body {
    font: 100% $font-stack;
    color: $primary-color;
    background-color: $background-color;
}

