// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


$font-stack: Helvetica, sans-serif;
$card-position: display fixed;
$sticky-position: position relative;
$card-margin: margin auto;
$title-size: 60px;
$title-position: center align;
$color-purple: rgb(153,0,204);


h1{
font:$font-stack;
font-size: $title-size;
position: $title-position;
color:$color-purple
}

title{
position: $center-position;
}

button{
color:$color-purple;
}

card-body{

}